$font-size: 14pt;
$font: 'Paprika', cursive;
$border-radius: 4px;
$border-width: 2px;
$input-border-style: inset;

$primary-color: #d0fef5;
$secondary-color: #fab2ea;
$tertiary-color: #4a051c;
$quaternary-color: #52ffb8;
$quinary-color: #830a48;
