@import "./_vars";

body {
  background: $primary-color;
  color: invert($primary-color);
  font-size: $font-size;
  font-family: $font;
}

h1 {
  font-size: $font-size*3;
  color: $secondary-color;
  background: invert($secondary-color);
}

h2 {
  font-size: $font-size*2.5;
  color: lighten($secondary-color, 8);
  background: invert(lighten($secondary-color, 8));
}

h3 {
  font-size: $font-size*2;
  color: lighten($secondary-color, 16);
  background: invert(lighten($secondary-color, 16));
}

h4 {
  font-size: $font-size*1.75;
  color: $tertiary-color;
  background: invert($tertiary-color);
}

h5 {
  font-size: $font-size*1.5;
  color: lighten($tertiary-color, 8);
  background: invert(lighten($tertiary-color, 8));
}

h6 {
  font-size: $font-size*1.25;
  color: lighten($tertiary-color, 16);
  background: invert(lighten($tertiary-color, 16));
}

input {
  background: invert($quaternary-color);
  color: $quaternary-color;
  font-size: $font-size;
  font-family: $font;

  &:hover {
    background: lighten(invert($quaternary-color), 5);
    color: lighten($quaternary-color, 5);
  }

  &[type="button"] {
    border-radius: $border-radius;
    border-width: $border-width;
    border-style: outset;
    border-color: lighten(invert($quaternary-color), 5);

    &:active {
      border-style: inset;
    }
  }

  &[type="text"] {
    border-radius: $border-radius;
    border-width: $border-width;
    border-style: $input-border-style;
    border-color: lighten(invert($quaternary-color), 5);
  }
}

textarea {
  background: invert($quaternary-color);
  color: $quaternary-color;
  font-size: $font-size;
  font-family: $font;
  border-radius: $border-radius;
  border-width: $border-width;
  border-style: $input-border-style;
  border-color: lighten(invert($quaternary-color), 5);

  &:hover {
    background: lighten(invert($quaternary-color), 5);
    color: lighten($quaternary-color, 5);
  }
}

img {
  border-radius: $border-radius;
}

th {
  border-radius: $border-radius;
  color: $quinary-color;
  background: invert($quinary-color);
  border-style: solid;
  border-color: darken(invert($quinary-color), 10);
}

td {
  border-radius: $border-radius;
  color: lighten($quinary-color, 10);
  background: lighten(invert($quinary-color), 10);
  border-style: solid;
  border-color: lighten(invert($quinary-color), 5);
}
