@import "./vars";

body {
  background: $primary-color;
  color: invert($primary-color);
  font-size: $font-size;
  font-family: $font;
}

h1 {
  font-size: $font-size*3.0;
  color: $secondary-color;
  background: invert($secondary-color);
}

h2 {
  font-size: $font-size*2.5;
  color: lighten($secondary-color, 8);
  background: invert(lighten($secondary-color, 8));
}

h3 {
  font-size: $font-size*2.0;
  color: lighten($secondary-color, 16);
  background: invert(lighten($secondary-color, 16));
}

h4 {
  font-size: $font-size*1.75;
  color: $tertiary-color;
  background: invert($tertiary-color);
}

h5 {
  font-size: $font-size*1.50;
  color: lighten($tertiary-color, 8);
  background: invert(lighten($tertiary-color, 8));
}

h6 {
  font-size: $font-size*1.25;
  color: lighten($tertiary-color, 16);
  background: invert(lighten($tertiary-color, 16));
}

input {
  background: invert($quaternary-color);
  color: $quaternary-color;
  font-size: $font-size;
  font-family: $font;

  &[type="text"] {
    border-radius: $border-radius;
  }
}

textarea {
  background: invert($quaternary-color);
  color: $quaternary-color;
  font-size: $font-size;
  font-family: $font;
  border-radius: $border-radius;
}

img {
  border-radius: $border-radius;
}

tr {
  border-radius: $border-radius;
}

th {
  border-radius: $border-radius;
}
